*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
*/build/
.gradle/
gradle-app.setting
local.properties
proguard/
*.log
captures/
*.iml
.idea/
*.jks
*.keystore
.externalNativeBuild
.cxx/
.DS_Store
Thumbs.db
*.env
.kotlin/
tmp/
temp/
